:root {
  /* put variables in here */
  --num-s: 8px;
  --num-m: 16px;
  --num-l: 32px;
  --num-xl: 64px;

  --clr-background: light-dark(#f0f0f0, #0a0a0a);
  --clr-primary: light-dark(#eadbeb, #211e21);
  --clr-secondary: light-dark(#c77dff, #3c3c3c);
  --clr-accent: light-dark(#aa00aa, #490249);
  --clr-text: light-dark(rgb(0 0 0 / 0.75), rgb(255 255 255 / 0.8));
  --clr-text-accent: light-dark(#ad61e9, #9f64f8);
  --clr-titles: light-dark(#000, #fff);

  --inline-size: 1200px;
}

* {
  padding: 0;
  margin: 0;
  color: var(--clr-text);

  @media (prefers-reduced-motion: no-preference) {
    transition-duration: 0.15s;
  }
}

html,
body {
  color-scheme: light dark;
  inline-size: 100%;
  block-size: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: system-ui;
  font-size: clamp(14px, 0.5em + 1vw, 16px);
  line-height: 1.5;
  background-color: var(--clr-background);
  container: body / inline-size;
}

main {
  flex: 1;
}

h1,
h2,
h3 {
  color: var(--clr-titles);
  font-family: Palatino;
}

a,
b {
  color: var(--clr-titles);
}

article,
section > div {
  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--num-s), 1fr)
    [content-start] min(100% - (var(--num-s) * 2), var(--inline-size))
    [content-end]
    minmax(var(--num-s), 1fr) [full-width-end];

  > * {
    grid-column: content;
  }
}

section {
  padding-block: var(--num-xl);
  background-color: var(--clr-background);
}

button {
  color: var(--clr-titles);
  border: 0;
  font: inherit;
  cursor: pointer;
  background-color: inherit;
}

details[open]::details-content {
  padding: var(--num-m) var(--num-l);
  display: grid;
  gap: var(--num-m);
  border: 1px solid var(--clr-accent);
  border-radius: 0 0 var(--num-s) var(--num-s);
}

details[open] > summary {
  border-radius: var(--num-s) var(--num-s) 0 0;
  background-color: var(--clr-accent);
}

summary {
  background-color: var(--clr-primary);
  padding: var(--num-s) var(--num-m);
  cursor: pointer;
  font-family: Palatino;
  font-size: 1.3em;
  color: var(--clr-titles);
  border-radius: var(--num-s);
}
