:root {
  /* put variables in here */
  --num-sm: 8px;
  --num-md: 16px;
  --num-lg: 32px;
  --num-xlg: 64px;

  --clr-background: light-dark(#f0f0f0, #0f0f0f);
  --clr-primary: light-dark(rgb(190 190 190), rgb(38 38 38));
  --clr-secondary: light-dark(rgb(170 170 170), rgb(65 65 65));
  --clr-accent: light-dark(#aa00aa, #5d005d);
  --clr-titles: light-dark(#000, #fff);
  --clr-text: light-dark(rgb(0 0 0 / 0.75), rgb(255 255 255 / 0.7));

  --max-width: 1400px;

  --transition-time: 0.15s;
}

* {
  padding: 0;
  margin: 0;
}

html {
  block-size: 100%;
  color-scheme: light dark;
}

html,
body {
  max-inline-size: 100vw;
  overflow-x: hidden;
  font-size: clamp(16px, 1.75vw, 18px);
  line-height: 1.5;
}

body {
  display: flex;
  flex-direction: column;
  min-block-size: 100%;
  color: var(--clr-text);
  background-color: var(--clr-background);
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  container: body / inline-size;
}

h1,
h2,
h3 {
  color: var(--clr-titles);
  font-family: 'Times New Roman', Times, serif;
}

.strong, a{
  color: var(--clr-titles);
}

main {
  flex: 1;

  --breakout-max-width: 1500px;

  --breakout-size: calc((var(--breakout-max-width) - var(--max-width)) / 2);

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--num-sm), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(100% - (var(--num-sm) * 2), var(--max-width))
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--num-sm), 1fr) [full-width-end];
}

section {
  display: grid;
  grid-template-columns: inherit;
  grid-column: full-width;

  padding-block: calc(var(--num-xlg));

  &[data-bg] {
    background-color: var(--clr-primary);

    display: grid;
    grid-template-columns: inherit;
    grid-column: full-width;
  }

  & > div {
    grid-column: content;
  }
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar-item {
  min-inline-size: 75px;
  block-size: 50px;
  display: grid;
  place-items: center;
  cursor: pointer;
  padding-inline: clamp(var(--num-sm), .5vw,var(--num-md));
  color: var(--clr-text);
  text-decoration: none;
  transition: background-color var(--transition-time) ease-in-out;

  &:hover,
  &:focus-visible,
  &[data-active]:hover,
  &[data-active]:focus-visible {
    background-color: var(--clr-secondary);
  }

  &[data-active] {
    background-color: var(--clr-primary);
  }
}

details {
  inline-size: 100%;

  & > summary{
    background-color: var(--clr-primary);
    padding: var(--num-md);
    cursor: pointer;
    border-radius: var(--num-sm);
    color: var(--clr-titles);

  }

  &[open] {
    > summary {
      border-radius: 10px 10px 0 0;
    }
  }

  & > div {
    padding: var(--num-md);
    border: 1px solid var(--clr-primary);
    display: grid;
    gap: var(--num-sm)
  }
}