.home-header,
.home-key-terms {
  row-gap: var(--num-lg);
}

.home-header-title {
  text-align: center;

  & > h1 {
    font-size: clamp(2.5em, 3vw + 1em, 3.75em);
    padding: 0;
  }

  & > p {
    font-size: clamp(1em, 1vw + 0.5em, 1.25em);
  }
}

.home-header-content {
  display: flex;
  flex-direction: column;
  gap: var(--num-lg);
}

.home-key-terms-title {
  text-align: center;
}

.key-term-cards {
  display: flex;
  justify-content: space-between;
  gap: var(--num-lg);
  flex-wrap: wrap;
}

.key-term-card {
  display: flex;
  flex-direction: column;
  gap: var(--num-md);
  min-inline-size: 350px;
  background-color: var(--clr-secondary);
  padding: var(--num-md);
  border-radius: var(--num-md);
  flex: 1;
  filter: drop-shadow(3px 3px 5px rgb(0 0 0 / 0.5));
  
  @container body (inline-size < 1000px){
    filter: drop-shadow(0 3px 5px rgb(0 0 0 / 0.5));
  }
}

.key-term-card-content {
  display: grid;
  gap: var(--num-md);
}
